<main class="min-h-[450px] max-h-[450px] w-72 bg-white flex flex-col overflow-hidden relative">

  <modal-close-verification></modal-close-verification>

  <section class="w-full h-20 bg-primary flex flex-row items-end pl-5 pb-3 gap-3 select-none">
    <h1 class="text-white flex items-end text-4xl font-thin">{{ Data.Company?.toUpperCase() }}'s</h1>
    <h3 class="bg-accent text-white flex items-end text-xl px-2 py-[2px] rounded-sm font-thin">Agents</h3>
    <div class="flex-grow bg-transparent h-full flex items-start justify-end pr-2 m-0 text-3xl text-gray-400 cursor-pointer select-none outline-none">
			<button class="w-5 h-5 flex items-center justify-center bg-transparent mt-1 transition-all select-none cursor-pointer hover:text-white outline-none" (click)="Data.Modals.CloseModalTriggered = true">×</button>
		</div> 	  
  </section>
    
  <ul class="w-full overflow-y-auto flex flex-col">

    <!-- <li *ngFor="let key of listOfKeyOf(activeAccountsDataTest)" (click)="this" class="min-h-12 w-full border-b border-b-stone-300 flex items-center flex-row cursor-pointer hover:bg-slate-200 select-none">
      <div class="h-10 w-10 bg-accent rounded-full ml-1 flex items-center justify-center text-white">{{activeAccountsDataTest[key].name[0]}}</div>
      <h3 class="ml-2 mt-1">{{activeAccountsDataTest[key].name}}</h3>
    </li>     -->

  </ul>

</main>