<main class="h-96 w-72 bg-white flex flex-col overflow-hidden">

    <section class="min-h-16 w-full border-b border-black flex">

        

    </section>
    
    <ul class="w-full overflow-y-auto flex flex-col">

        <li class="min-h-12 w-full border-b border-gray-500"></li>    
        <li class="min-h-12 w-full border-b border-gray-500"></li>    
        <li class="min-h-12 w-full border-b border-gray-500"></li>    
        <li class="min-h-12 w-full border-b border-gray-500"></li>    
        <li class="min-h-12 w-full border-b border-gray-500"></li>    
        <li class="min-h-12 w-full border-b border-gray-500"></li>    
        <li class="min-h-12 w-full border-b border-gray-500"></li>    
        <li class="min-h-12 w-full border-b border-gray-500"></li>    

    </ul>

</main>