<!-- <main class="max-w-full bg-transparent flex flex-col gap-5 mb-5">
  <input class="h-10 rounded-lg pl-3 ring-1 ring-gray-400 outline-none" type="text" placeholder="Search...">
  <section class="overflow-y-auto bg-transparent mb-1 ring-1 ring-gray-400 rounded-lg -scroll-mx-52">
    <ul class="flex flex-row overflow-x-scroll scrollbar-hide min-h-full">
      <li *ngFor="let activeUser of data.api.chat.activeScopedUser" class="flex min-h-20 min-w-20 flex-col justify-center items-center cursor-pointer hover:bg-gray-200 bg-opacity-0 rounded-xl transition duration-200">
        <label class="h-[43px] w-[43px] bg-accent text-white rounded-full flex justify-center items-center pointer-events-none select-none">{{activeUser.name[0].toUpperCase()}}</label>
        <p class="text-xs text-primary max-w-16 pointer-events-none select-none overflow-hidden whitespace-nowrap text-ellipsis">{{activeUser.name}}</p> 
      </li>
    </ul>
  </section>
</main> -->