<div class="flex items-center justify-center h-[100vh] bg-gray-900">

  <main class="h-96 w-72 bg-white flex flex-col">

    <section class="bg-slate-300 flex flex-grow">
      
    </section>

    <form class="m-0 p-0 h-fit flex flex-row justify-evenly border-t-2 border-black">

      <p class="w-[75%] max-h-44 my-1 overflow-y-auto border border-gray-700 flex justify-center rounded-md">
        <textarea class="w-[90%] my-1 resize-none outline-none border-none overflow-y-hidden" rows="1" oninput="this.style.height = 'fit-content'; this.style.height = this.scrollHeight + 'px'; "></textarea>
      </p>

      <input type="submit" class="w-[15%] my-1 border border-black rounded-md cursor-pointer" value="Send">

    </form>

  </main>
</div>