<!-- Chatbox -->
<main class="min-h-[450px] max-h-[450px] min-w-72 max-w-72 bg-secondary flex flex-col relative">

	<modal-close-verification></modal-close-verification>

	<!-- Header -->
	<header class="w-full h-20 bg-primary flex flex-row items-end pl-5 pb-3 gap-3">
		
		<h1 class="text-white flex items-end text-4xl font-thin">{{ Data.Company?.toUpperCase() }}</h1>
		<h3 class="bg-accent text-white flex items-end text-xl px-2 py-[2px] rounded-sm font-thin">Timoy</h3>
    	<div class="flex-grow bg-transparent h-full flex items-start justify-end pr-2 m-0 text-3xl text-gray-400 cursor-pointer select-none outline-none">
			<button class="w-5 h-5 flex items-center justify-center bg-transparent mt-1 transition-all select-none cursor-pointer hover:text-white outline-none" (click)="Data.Modals.CloseModalTriggered = true">×</button>
		</div> 	

	</header>

	<!-- Body -->
	<section class="bg-secondary flex flex-grow relative bg-white"></section>

	<!-- Form -->
	<form class="m-0 p-3 h-fit flex flex-row bg-whites border-t border-gray-500 items-end gap-2 select-none">

		<label *ngIf="Data.CurrentInputtedMessage === '' && Data.CurrentAttachedFile === null" class="min-h-10 ring-1 ring-accent cursor-pointer px-4 flex justify-center items-center select-none rounded-sm text-whites bg-accent" for="attachment">
			<span class="text-2xl font-thin">#</span>
			<input class="hidden" id="attachment" type="file" (change)="Modifier.AttachFile($event)">
		</label>

		<textarea *ngIf="!Data.CurrentAttachedFile" [(ngModel)]="Data.CurrentInputtedMessage" name="CurrentInputtedMessage" class="min-h-10 max-h-60 flex-grow overflow-y-scroll resize-none outline-none ring-1 ring-gray-500 text-gray-700 border-x-4 border-transparent py-2 pl-2 pr-1 rounded-sm scroll-button-transparent" rows="1" oninput="this.style.height = 'fit-content'; this.style.height = (this.scrollHeight) + 'px'; " placeholder="Type..."></textarea>
		
    	<label *ngIf="Data.CurrentAttachedFile" class="flex-grow relative justify-center items-center z-0">
			<span class="absolute text-sm text-white top-0 right-0 mr-2 mt-2 cursor-pointer h-6 w-6 bg-accent bg-opacity-50 flex items-center justify-center rounded-full pb-[2px]" (click)="Data.CurrentAttachedFile = null">×</span>
			<img class="object-contain max-h-60" [src]="Data.CurrentAttachedFile" />
		</label>

		<input *ngIf="Data.CurrentAttachedFile !== null || Data.CurrentInputtedMessage !== '' " class="min-h-10 ring-1 ring-accent text-whites bg-accent cursor-pointer rounded-sm px-3" type="submit" value="Send">

	</form>

</main>