.no-track::-webkit-scrollbar {
    width: 10px;
}
  
.no-track::-webkit-scrollbar-track {
    background: transparent;
}

.no-track::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
    border: 2px solid transparent;
    background-clip: padding-box;
}