<div class="flex bg-secondary max-h-screen">

  <!-- Side bar -->
  <app-a-sidebar></app-a-sidebar>

  <main class="flex flex-row flex-grow py-20 px-40 gap-5">

    <!-- Aside -->
    <aside class="h-full min-w-80 max-w-80 rounded-lg border border-black shadow-2xl px-4 pt-4 gap-5 mb-5 relative flex flex-col pb-5">

      <!-- Search input -->
      <input class="h-14 rounded-lg px-3 ring-1 ring-gray-300 outline-none text-lg" type="text" placeholder="Search...">

      <!-- Actives -->
      <header class="flex flex-row items-center max-h-20">
        <button class="w-5 h-7 bg-accent rounded-full flex items-center justify-center text-white text-[13px] select-none" onclick="this.nextElementSibling.scrollBy({ left: -100, behavior: 'smooth' })"><</button>
        <ul class="flex flex-row overflow-x-hidden overflow-y-hidden rounded-lg min-h-24 pt-2 gap-2 scroll-w px-2">
          <li *ngFor="let ActiveUser of Data.Chat.ActiveUserOfThisCompany" class="flex min-h-20 max-h-20 min-w-20 max-w-20 flex-col cursor-pointer hover:bg-gray-200 bg-opacity-0 rounded-xl transition duration-200 items-center justify-center shadow-md">
            <div *ngIf="ActiveUser" class="h-[43px] w-[43px] bg-accent text-white rounded-full flex justify-center items-center pointer-events-none select-none relative">
              <span>{{ ActiveUser !== undefined && ActiveUser.name !== undefined ? ActiveUser.name[0].toUpperCase() : 'Error' }}</span>
              <span class="absolute text-green-600 text-5xl mt-6 ml-8">•</span>
            </div>            
            <p *ngIf="ActiveUser" class="text-xs text-primary max-w-16 pointer-events-none select-none overflow-hidden whitespace-nowrap text-ellipsis">{{ ActiveUser.name ? ActiveUser.name : 'Error' }}</p> 
          </li>
        </ul>
        <button class="w-5 h-7 bg-accent rounded-full flex items-center justify-center text-white text-[13px] select-none" onclick="this.previousElementSibling.scrollBy({ left: 100, behavior: 'smooth' })">></button>
      </header>
      
      <!-- Inbox -->
      <input class="h-14 w-full bg-accent rounded-lg text-white text-3xl text-center border-l cursor-pointer outline-none font-thin scroll-w" value="Inbox" type="text">

      <!-- Chatmate -->
      <ul class="w-full flex flex-col flex-grow border-y border-gray-300 px-1 overflow-y-scroll py-3 pr-3 gap-2 scroll-h">
        <li *ngFor="let Chatmate of ['timoy', 'bensoy', 'helsi', 'charles', 'ashe', 'hitler', 'tote']" class="max-h-20 min-h-20 pt p-2 flex items-end rounded-lg hover:bg-gray-100 gap-2 cursor-pointer shadow">
          <div class="h-14 w-14 bg-accent flex justify-center items-center rounded-full text-white">{{ Chatmate[0].toUpperCase() }}</div>
          <label class="h-full flex flex-col items-start gap-2">
            <h1 class="text-lg">{{ Chatmate }}</h1>
            <p class="text-sm text-gray-600">Hello World!</p>
          </label>
        </li>
      </ul>

    </aside>

    <aside class="flex flex-grow flex-col rounded-lg border border-black shadow-2xl p-3 gap-3">

      <header *ngIf="!Data.Chat.CurrentChatmate" class="h-full flex items-center justify-center">
        <h1 class="text-3xl font-extralight text-gray-500 select-none">No chatmate selected</h1>
      </header>
      
      <!-- Header -->
      <header *ngIf="Data.Chat.CurrentChatmate" class="flex flex-col select-none">
        <label class="flex-grow flex items-end max-h-20 bg-gray-100 rounded-lg shadow-lg px-5 py-2 justify-between">
          <aside class="flex flex-row items-center gap-2">
            <div class="bg-accent w-14 h-14 rounded-full flex text-white text-3xl items-center justify-center font-thin">T</div>
            <span class="flex items-end rounded-lg text-2xl text-gray-500">Timoy</span>
          </aside>
          <button class="w-16 h-12 bg-accent rounded-lg text-center text-white text-2xl cursor-pointer outline-none mb-1">•••</button>
        </label>
        <main>
        </main>
      </header>

      <!-- Body -->
      <main *ngIf="Data.Chat.CurrentChatmate" class="h-full flex-grow overflow-y-auto border-y border-gray-300 scroll-h">
        <ul class="flex flex-grow flex-col scrollbar-track-transparent px-5">
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
          <li>HELLO WORLD!</li>
        </ul>
      </main>

      <!-- Form -->
      <form *ngIf="Data.Chat.CurrentChatmate" class="flex flex-row items-end border-gray-300 gap-3 select-none">
        <textarea *ngIf="!Data.Chat.CurrentAttachedFile" [(ngModel)]="Data.Chat.CurrentInputtedMessage" cols="1" class="resize-none outline-none flex-grow border border-gray-300 rounded-lg overflow-y-scroll text-lg py-1 px-5 max-h-96 scroll-h" oninput="this.style.height = '';  this.style.height = this.scrollHeight + 2 + 'px';"></textarea>
        <div *ngIf="Data.Chat.CurrentAttachedFile && !Data.Chat.CurrentInputtedMessage" class="flex justify-center outline-none flex-grow border border-gray-300 rounded-lg min-h-[62px] max-h-96 p-3 relative">
          <span class="absolute top-0 right-0 text-2xl mr-3 text-gray-400 cursor-pointer hover:text-gray-700 transition-all" (click)="Data.Chat.CurrentAttachedFile = null">×</span>
          <img class="object-contain aspect-square" [src]="Data.Chat.CurrentAttachedFile" alt="Preview"/>
        </div>
        <label *ngIf="!Data.Chat.CurrentInputtedMessage" class="min-w-16 h-16 bg-accent text-white rounded-lg cursor-pointer flex items-center justify-center text-3xl">
          <span>#</span>
          <input type="file" class="hidden" (change)="Modifier.AttachFile($event)" />
        </label>
        <input type="submit" class="min-w-40 h-16 bg-accent text-white text-lg rounded-lg cursor-pointer" type="submit" value="Send">
      </form>

    </aside>

  </main>

</div>